/*css generales*/

body {
    margin: 0px;
    padding: 0px;
}


/*css header*/

.header-principal {
    background-color: olivedrab;
    width: 100%;
    padding: 10px 10px;
    margin: 0px 0px;
    color: white;
}

.img-header {
    padding-left: 5px;
}

.mi-contenedor {
    text-align: center;
}


/*css validacion del login*/

input {
    border-radius: 7px;
}

input:invalid {
    border: 1px solid red;
}

input:valid {
    border: 1px solid green;
}

#contenido>div div {
    float: left;
    margin: 10px;
    text-align: center;
}


/*css card*/

.card-img {
    width: 100px;
}

footer {
    border-top: 2px solid olivedrab;
    clear: both;
    padding: 40px;
    text-align: center;
}