@media(min-width:50px) and (max-width:200px) {
    .img-header {
        width: 30px;
    }
    .header-principal h1 {
        font-size: 10px;
    }
    .img-letter {
        width: 150px;
        height: 100px;
    }
    .card-img {
        width: 50px;
    }
    .card-info {
        width: 50px;
        height: 100px;
    }
}


/**/

@media(min-width:200px) and (max-width:320px) {
    .img-header {
        width: 45px;
    }
    .header-principal h1 {
        font-size: 16px;
    }
    .img-letter {
        width: 150px;
        height: 100px;
    }
    .div-login {
        text-align: center;
        border-radius: 7px;
        margin: 2px;
        padding-top: 20px;
    }
    .card-info {
        width: 250px;
        height: 310px;
        justify-content: space-between;
    }
}

@media(min-width:320px) and (max-width:520px) {
    .img-header {
        width: 70px;
    }
    .header-principal h1 {
        font-size: 24px;
    }
    .img-letter {
        width: 200px;
    }
    #form-login {
        padding-top: 30px;
        margin: 2px;
        text-align: center;
    }
    .div-login {
        text-align: center;
        border-radius: 7px;
        margin: 2px;
        padding-top: 20px;
    }
    .card-info {
        width: 150px;
        height: 310px;
        justify-content: space-between;
    }
}


/*Dispositivos muy pequeños*/

@media (min-width: 520px) and (max-width:768px) {
    .img-header {
        width: 100px;
    }
    .img-letter {
        width: 200px;
    }
    #form-login {
        padding-top: 30px;
        margin: 2px;
    }
    .div-login {
        border-radius: 7px;
        margin: 2px;
        padding-top: 20px;
        width: 200px;
    }
    .card-info {
        width: 200px;
        height: 310px;
        justify-content: space-between;
    }
}


/*Dispositivos pequeños*/

@media (min-width: 768px) and (max-width:992px) {
    .img-header {
        width: 100px;
    }
    #form-login {
        padding-top: 30px;
    }
    .div-login {
        border-radius: 7px;
        margin: 2px;
        padding-top: 20px;
    }
    .card-info {
        width: 200px;
        height: 310px;
        justify-content: space-between;
    }
}


/*Dispositivos medianos*/

@media (min-width:992px) and (max-width: 1200px) {
    .img-header {
        width: 100px;
    }
    #form-login {
        padding-top: 30px;
    }
    .div-login {
        border-radius: 7px;
        margin: 2px;
        padding-top: 20px;
    }
    .card-info {
        width: 250px;
        height: 310px;
        justify-content: space-between;
    }
}


/*Dispositivos grandes*/

@media (min-width:1200px) {
    .img-header {
        width: 100px !important;
    }
    #form-login {
        padding-top: 30px;
    }
    .div-login {
        border-radius: 7px;
        margin: 2px;
        padding-top: 20px;
    }
    .card-info {
        width: 250px;
        height: 310px;
        justify-content: space-between;
    }
}