<div>
    <div class="card-info">
        <div class="card-body">
            <img class="card-img" src="static/img/mail.png" alt="icon-mail">
            <p class="card-text">Ejemplo de uso de la las sentencias de creacion de tablas.</p>
            <a href="#" class="btn btn-primary">Vamos!</a>
        </div>
    </div>
    <div class="card-info">
        <div class="card-body">
            <img class="card-img" src="static/img/mail.png" alt="icon-mail">
            <p class="card-text">Ejemplo de uso de la sentencia de insercion de datos en la base de datos</p>
            <a href="#" class="btn btn-primary">Vamos!</a>
        </div>
    </div>
    <div class="card-info">
        <div class="card-body">
            <img class="card-img" src="static/img/mail.png" alt="icon-mail">
            <p class="card-text">Ejemplo de uso de las consultas anidadas con la sentencia in</p>
            <a href="#" class="btn btn-primary">Vamos!</a>
        </div>
    </div>
    <div class="card-info">
        <div class="card-body">
            <img class="card-img" src="static/img/mail.png" alt="icon-mail">
            <p class="card-text">Ejemplo de uso de sentencias DML en la base de datos MySql</p>
            <a href="#" class="btn btn-primary">Vamos!</a>
        </div>
    </div>
</div>