<div>
    <div class="card-info" style="width: 18rem;">
        <div class="card-body">
            <img class="card-img" src="static/img/mail.png" alt="icon-mail">
            <p class="card-text">Ejercicio de la Universidad Francisco de Paula Santander</p>
            <a href="#" class="btn btn-primary">Vamos!</a>
        </div>
    </div>
    <div class="card-info" style="width: 18rem;">
        <div class="card-body">
            <img class="card-img" src="static/img/mail.png" alt="icon-mail">
            <p class="card-text">Ejercicio del campeonato de futbol de rusia 2018</p>
            <a href="#" class="btn btn-primary">Vamos!</a>
        </div>
    </div>
    <div class="card-info" style="width: 18rem;">
        <div class="card-body">
            <img class="card-img" src="static/img/mail.png" alt="icon-mail">
            <p class="card-text">Ejercicio de la eneria renovable y fuentes luminicas</p>
            <a href="#" class="btn btn-primary">Vamos!</a>
        </div>
    </div>
    <div class="card-info" style="width: 18rem;">
        <div class="card-body">
            <img class="card-img" src="static/img/mail.png" alt="icon-mail">
            <p class="card-text">Ejercicio de Hotel de hospedaje rural de chinacota</p>
            <a href="#" class="btn btn-primary">Vamos!</a>
        </div>
    </div>
</div>